.highlightCore {
    padding: 0 .3em 0 .5em;
    border-radius: 4px;
    background-color: rgb(255,91,87);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255,191,187)), to(rgb(254,232,232)));
    border: 2px solid rgb(255,91,87);
    color: black;
}

.highlightCore a {
    display: inline !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.highlightCore  img.source {
    padding: 0 0 0 7px !important;
    margin: 0 0 -2px 0 !important;
}

.highlightCore  img.jar {
    padding: 0 0 0 1px !important;
    margin: 0 0 -2px 0 !important;
}

.highlightCore_ul {
    font-weight: bold;
    border-bottom: 2px solid;
    border-bottom-color: rgb(255,91,87);
}

/**********/

.blob {
    border-radius: 16px;
    background-color: rgb(128,151,189);
    color: white;
    font-weight: bold;
    font-style: normal;
    margin: 0 0 0 6px;
    padding: 2px 5px;
    font-family: tahoma;
    font-size: 11px;
}