.highlightCore {
    /* font-weight: bold;
    padding: .2em .5em; */
    padding: 0 .5em;
    border-radius: 4px;
}

.highlightCore {
    /* */ background-color: rgb(255,91,87);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255,191,187)), to(rgb(254,232,232)));
    border: 2px solid rgb(255,91,87);
}

.highlightCore_ul {
    font-weight: bold;
    border-bottom: 2px solid;
    border-bottom-color: rgb(255,91,87);
}

/**********/

.blob {
    border-radius: 16px;
    background-color: rgb(128,151,189);
    color: white;
    font-weight: bold;
    font-style: normal;
    margin: 0 0 0 6px;
    padding: 2px 5px;
    font-family: tahoma;
    font-size: 11px;
}