.highlightCore {
    font-weight: bold;
    color: black !important;
    background-color: rgb(254,232,232);
    border-bottom: 2px dotted !important;
    border-bottom-color: rgb(255,91,87) !important;
}

.highlightCore a {
    display: inline !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.highlightCore  img.info {
    padding: 0 2px 0 4px !important;
    margin: 0 0 -2px 0 !important;
}

.highlightCore_ul {
    font-weight: normal;
    border-bottom: 1px dotted !important;
    border-bottom-color: rgb(255,91,87) !important;
}

/**********/

.fbPopupHeader {
    width: auto;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 6px 0 6px 7px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254,232,232)), to(rgb(255,191,187)));
    font-weight: bold;
    font-size: 120%;
}

.overlay {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.3; display: block;
    z-index: 8001;
}

div.fbOutermost {
    z-index: 8002;
    position: absolute;
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
    font-weight: normal;
}

div.fbContentWrapper {
    /* Don't set background-color here! */
    -moz-border-radius: 8px;
    border: 10px solid rgba(82,82,82,0.8);
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    color: black !important;   /* override parent container! */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;   /* override parent container! */
    font-size: 13px !important;    /* override parent container! */
}

div.fbContentWrapper a.dlgLink {
    color: black !important;
    text-decoration: underline;
}

.dlgButton {
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #eee;
    border-color:#999 #999 #888;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
    display:inline-block;
    margin:0;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    padding:3px 8px;
    text-decoration:none;
    vertical-align:bottom;
}

.dlgButton:hover {
    text-decoration:none;
}

.dlgButton .dlgButtonText {
    background-color:transparent;
    border:medium none;
    color: #333;
    cursor: pointer;
    display:block;
    font-size: 13px;
    font-weight:bold;
    line-height: 16px;
    margin:0;
    overflow:visible;
    padding:0;
    width:auto;
}